$black: #2c3e50;
$gray: gray;
$dark-gray: darken($gray, 20%);
$gray-background: rgb(240, 242, 246);
$gray-border-color: #f0f0f0;

$blue: #26a2ff;
$primary-color: $blue;

$red: red;
$green: green;

$orange: orange;

$icon-button-width: 40px;
$margin-right: 7px;
$margin-top: 7px;

$border-radius: 6px;
$list-cell-borders: solid 1px $gray-border-color;

%list-cell-bordered {
  border-top: $list-cell-borders;
  border-bottom: $list-cell-borders;
}
